
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

header {
  text-align: center;
  background-color: #3498db;
  color: #fff;
  padding: 20px 0;
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

section {
  width: 80%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

label {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

input[type="number"],
select {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
}

button#btnCalcular,
button#btnLimpiar {
  background-color: #3498db;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

button#btnCalcular:hover,
button#btnLimpiar:hover {
  background-color: #2980b9;
}


@media screen and (max-width: 600px) {
  section {
    width: 90%;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 20px;
  }

  label {
    font-size: 14px;
  }

  input[type="number"],
  select {
    padding: 8px;
  }

  input[type="text"] {
    padding: 8px;
  }

  button#btnCalcular,
  button#btnLimpiar {
    padding: 12px 24px;
    margin-top: 10px;
  }


  section {
    flex-direction: column;
  }
}
