body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #3498db;
    border: 1px solid #2980b9;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
}

#resultContainer {
    background-color: #4CAF50;
    padding: 10px;
    border: 1px solid #3E863A;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

#resultContent p {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 18px; 
    padding: 5px; 
    background-color: #18ac4e; 
    border: 1px solid #000000; 
    border-radius: 5px;
    margin: 10px 0; 
}

button {
    background-color: #0074d9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
