
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    text-align: center;
    background-color: #3498db;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 28px;
    color: #fff;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 20px;
    color: #fff;
  }
  
  hr {
    border: 1px solid #fff;
    margin: 20px 0;
  }

  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
  }
  
  #calcular {
    background-color: #2980b9;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  #calcular:hover {
    background-color: #1c6ea4;
  }

  label {
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
    display: block;
  }
  
  #imc {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
  }

  @media screen and (max-width: 600px) {
    .container {
      max-width: 90%;
    }
  
    h1 {
      font-size: 24px;
    }
  
    h2 {
      font-size: 18px;
    }
  }
  